# crates/cuda-bindings is under the NVIDIA Software License and cannot
# accept external contributions; changes to it always need maintainer
# review (enforced by the cuda-bindings-guard workflow, and by branch
# protection when "require review from Code Owners" is enabled).
/crates/cuda-bindings/ @nihalpasham
